<div class="menu-burger">
  <button class="menu-burger__button" (click)="toggleMenuBurger()">
    <img src="assets/svg/menu-burger.svg" alt="Menu Burger Icon" />
  </button>

  <div class="menu-burger__wrapper" id="menu-burger__wrapper">
    <nav class="menu-burger__navigation">
      <button class="menu-burger__button" (click)="toggleMenuBurger()">
        <img src="assets/svg/xMark.svg" alt="xMark icon" />
      </button>
      <ul class="menu-burger__options">
        <li class="menu-burger__option"><a href="#">Início</a></li>
        <li class="menu-burger__option"><a href="#">Projetos</a></li>
        <li class="menu-burger__option"><a href="#">Fórum</a></li>
        <li class="menu-burger__option"><a href="#">Contato</a></li>
      </ul>
    </nav>
  </div>
</div>
