<main class="project-list">
  <header class="project-list__header">
    <app-nav-bar class="nav-bar"></app-nav-bar>
    <section class="filter">
      <h1 class="project-list__title">{{ title }}</h1>
      <app-filter></app-filter>
    </section>
  </header>
  <section class="project-list__component">
    <app-project-card class="project-card"></app-project-card>
    <app-project-card class="project-card"></app-project-card>
    <app-project-card class="project-card"></app-project-card>
    <app-project-card class="project-card"></app-project-card>
    <app-project-card class="project-card"></app-project-card>
    <app-project-card class="project-card"></app-project-card>
    <app-project-card class="project-card"></app-project-card>
    <app-project-card class="project-card"></app-project-card>
    <app-project-card class="project-card"></app-project-card>
    <app-project-card class="project-card"></app-project-card>
  </section>
</main>
