<nav class="nav-bar">
  <div class="nav-bar__container">
    <ul class="nav-bar__menu">
      <li><a href="#">Início</a></li>
      <li><a href="#">Projetos</a></li>
      <li><a href="#">Fórum</a></li>
      <li><a href="#">Contato</a></li>
    </ul>
    <form class="search-bar" role="search">
      <div class="search-bar__container">
        <mat-icon svgIcon="search"></mat-icon>
        <input type="text" placeholder="Pesquisar..." />
        <mat-icon class="small-icon" svgIcon="chevron"></mat-icon>
      </div>
    </form>
    <app-menu-burger class="menu-burger"></app-menu-burger>
  </div>
</nav>
