<main class="container-form">
  <div class="sub-container">
    <div class="billboard">
      <p class="text">Desenvolva suas ideias, construa seu futuro.</p>
    </div>
    <form [formGroup]="userForm" (ngSubmit)="register()">
      <header>
        <h1>Registro</h1>
        <p>Digite seus dados nos campos abaixo</p>
      </header>

      <div class="user-details">
        <div>
          <label for="name">Nome</label>
          <input [class.error]="hasError('name', 'required')" type="text" id="name" formControlName="name" placeholder="Carlos" required />
          <div class="text-error" *ngIf="hasError('name', 'required')">Nome é obrigatório.</div>
        </div>
        <div>
          <label for="userName">Username</label>
          <input
            [class.error]="hasError('userName', 'required')"
            type="text"
            id="userName"
            formControlName="userName"
            placeholder="Carlito_123"
            required />
          <div class="text-error" *ngIf="hasError('userName', 'required')">Username é obrigatório.</div>
        </div>
      </div>

      <div>
        <label for="email">Email</label>
        <input
          [class.error]="hasError('email', 'required') || hasError('email', 'email')"
          type="email"
          id="email"
          formControlName="email"
          placeholder="example@gmail.com"
          required />
        <div class="text-error" *ngIf="hasError('email', 'required')">E-mail é obrigatório.</div>
        <div class="text-error" *ngIf="hasError('email', 'email')">Formato de e-mail inválido.</div>
      </div>

      <div>
        <label class="label-with-icon" for="password">Senha</label>
        <div class="input-icon">
          <input
            [class.error]="hasError('password', 'required') || hasError('password', 'minlength')"
            [type]="hidePassword ? 'password' : 'text'"
            id="password"
            formControlName="password"
            placeholder="*********"
            required />
          <mat-icon (click)="togglePassword('password')" class="visibility-icon" aria-label="Alternar visibilidade da senha">
            {{ hidePassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </div>
        <div class="text-error" *ngIf="hasError('password', 'required')">Senha obrigatória.</div>
        <div class="text-error" *ngIf="hasError('password', 'minlength')">A senha deve ter pelo menos 8 caracteres.</div>
      </div>

      <div>
        <label class="label-with-icon" for="confirmPassword">Confirmar Senha</label>
        <div class="input-icon">
          <input
            [class.error]="hasError('confirmPassword', 'required') || hasError('confirmPassword', 'mismatch')"
            [type]="hideConfirmPassword ? 'password' : 'text'"
            id="confirmPassword"
            formControlName="confirmPassword"
            placeholder="*********"
            required />
          <mat-icon (click)="togglePassword('confirmPassword')" class="visibility-icon" aria-label="Alternar visibilidade da senha">
            {{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </div>
        <div class="text-error" *ngIf="hasError('confirmPassword', 'required')">Confirmação de senha obrigatória.</div>
        <div class="text-error" *ngIf="hasError('confirmPassword', 'mismatch')">As senhas não coincidem.</div>
      </div>

      <div>
        <button type="submit" class="register">Registrar</button>
      </div>

      <p class="text-center">faça o registro com</p>

      <div class="oauth-buttons">
        <button type="button" class="secondary icon" aria-label="Login com Google">
          Google <img src="google.png" alt="Ícone do Google" />
        </button>
        <button type="button" class="secondary icon" aria-label="Login com GitHub">
          GitHub <img src="github.png" alt="Ícone do GitHub" />
        </button>
      </div>
    </form>
  </div>
</main>
