.button {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 0.8125rem;
  color: #ffffff;
  background-color: var(--primary-color);

  width: 6.875rem;
  height: 2.25rem;

  border-radius: 0.625rem;
}
