<main class="project-list">
  <section class="project-list__filter">
    <h1 class="title">{{ title }}</h1>
    <app-filter></app-filter>
  </section>
  <section class="project-list__grid">
    <app-project-card class="project-card"></app-project-card>
    <app-project-card class="project-card"></app-project-card>
    <app-project-card class="project-card"></app-project-card>
    <app-project-card class="project-card"></app-project-card>
    <app-project-card class="project-card"></app-project-card>
    <app-project-card class="project-card"></app-project-card>
    <app-project-card class="project-card"></app-project-card>
    <app-project-card class="project-card"></app-project-card>
    <app-project-card class="project-card"></app-project-card>
    <app-project-card class="project-card"></app-project-card>
  </section>
</main>
